<div class="users-wrapper section-wrapper">
  <div class="medium-centered columns">
    <div class="row">
      <div class="columns">
        <h2>Live Connections</h2>
      </div>
    </div>
    <div class="col-md-12">
      <pf-toolbar id="liveConnectionsToolbar" config="toolbarConfig"></pf-toolbar>
    </div>
    <div class="col-md-12">
      <pf-table-view id="liveConnectionsView"
            config="tableConfig"
            empty-state-config="emptyStateConfig"
            dt-options="dtOptions"
            columns="columns"
            page-config="pageConfig"
            items="items">
      </pf-table-view>
    </div>
  </div>
</div>

